/.temping/
/.ai/
/ai
/class5_protective_model
/class5_protective_model
/protective
/temping
/class5_protective_model
/class5_protective_model
class5_protective_model/weights/best.pt
/protective_model5
