body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: fixed; /* .loading과 상대적으로 위치하도록 설정 */
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.loadingbox{
    position: fixed;
    background-color: rgba(155, 155, 155, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #FFA500; /* Blue */
    border-left: 12px solid #FFA500; /* Blue */
    border-right: 12px solid #FFA500; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spins 2s linear infinite;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  
  @keyframes spins {
    0% { transform:translate(-50%,-50%) rotate(0deg); }
    100% { transform:translate(-50%,-50%) rotate(360deg); }
  }


.logo{
    display: flex;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
}
.logo span[id="back"]{
    position:relative;
    margin-right : 90%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color:#000000;
}
.logo span[id="logotext"]{
    position: absolute;
    justify-content: center;
    align-items: center;
    color:#000000;
    font-size: 30px;
}

.block1 {
    display: flex;
    width: 100%;
    height: 1px; 
    background-color: #DCDCDC; 
}
.block2 {
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 1px; 
    background-color: #DCDCDC; 
}


.middle {
    display:flex;
    width: 100%;
    height: 75%;
    background-color: antiquewhite;
}


.bottom {
    width: 100%;
    height: 13%;
    background-color: antiquewhite;

    position: relative;
    flex-grow:1;
}
.bottom span[id="bottomtext"] {
    position:absolute;
    opacity:0.85;
    left: 50%; 
    transform: translateX(-50%); 
    color: #000000;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    display: flex; 
    width: 92%; 
    text-align: center; 
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(234, 186, 60); 
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px; 
    box-shadow: 0 0 0 3px rgb(255,255,255) inset, 0 0 0 12px rgb(171, 45, 46) inset;


    max-width: 100%; 
    box-sizing: border-box;
    font-weight: 700;
}

.camera {
    /*건들지마*/
    margin-top: 10%;
    margin-left: 12%;
    width: 90%;
    height: 85%;
    display: none;
}

img.result-image {
    /*영상 디자인*/
    margin-top: 3%;
    margin-left: 4%;
    width: 92%;
    height: 95%;
    border-radius: 20px;
    border: 3px solid #FFA500; 
}

div.bounding-box {
    /*건들지마*/
    position: absolute;
    border: 2px solid red;
    display: none;
}