* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loginBox{
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    width: 500px;
    height: 530px;
}
.logoBox{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100px;
}
.logoBox span{
    font-size: 45px;
    font-family: "Noto Serif KR", serif;
}
.textBox{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 50px;
}
.textBox span{
    font-size: 25px;
}
.logininfo{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 30px;
}
.logininfo span{
    font-size: 17px;
}
.idBox{
    margin-top: 8%;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 10%;
}
.idBox span{
    font-size: 20px;
}
.idBox input{
    width: 90%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    margin-bottom: 5%;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pwBox{
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 10%;
}
.pwBox span{
    font-size: 20px;
}
.pwBox input{
    width: 90%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    margin-bottom: 5%;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.buttonBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.signupbuttonBox{
    padding-left: 10%;
    width:50%;
    height: 100px;
}
.signupbuttonBox button{
    width: 100px;
    height: 50px;
    background-color: white;
    border-color: #1A73E8;
    font-size: 18px;
    border-radius: 10px;
    color:#1A73E8;
}
.loginbuttonBox{
    width:50%;
    height: 100px;
    display: flex;
    justify-content: right;
    padding-right: 10%;
}
.loginbuttonBox button{
    width: 100px;
    height: 50px;
    background-color: white;
    border-color: #1A73E8;
    font-size: 18px;
    border-radius: 10px;
    color:#1A73E8;
}
button:hover {
    background-color: #1A73E8;
    border-color: #114d9c;
    color: white;
}
