body{
    margin: 0;
    padding:0;
    width:100%;
    height:100%;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #FFA500; /* Blue */
    border-left: 12px solid #FFA500; /* Blue */
    border-right: 12px solid #FFA500; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spins 2s linear infinite;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 10000;
  }
  
  @keyframes spins {
    0% { transform:translate(-50%,-50%) rotate(0deg); }
    100% { transform:translate(-50%,-50%) rotate(360deg); }
  }

.container{
    display: flex;
    margin-top: 18%;
    margin-left: 2.35%;
    padding-top: 7%;
    padding-bottom: 20%;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}
div.content_screen{
    width: 80vw;
    height: 70vh;
}
.appinfo{
    width: 100%;
    height: 40%;
}
.applogo{
    font-family: "Noto Serif KR", serif;
    display:flex;
    width: 100%;
    align-items: center;
    color:#FFA500;
    font-size: 49px;
    list-style:none;
    padding-left: 0;
}
.appmaininfo{
    display:flex;
    align-items: center;
    font-size: 25px;
    margin: 2%;
}
.appsubinfo{
    display:flex;
    align-items: center;
    font-size: 15px;
    margin: 2%;
    margin-top: 5%;
    color:grey;
}
.inputBox{
    width: 100%;
    height: 20%;
}
.inputBox input{
    width: 95%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    margin-bottom: 5%;
    font-size: 20px;
    padding-bottom: 10px;
}
.inputBox select[id="jobselect"]{
    display: flex;
    text-align: center;
    align-items: center;
    width: 47%;
    border: none;
    font-size: 20px;
    padding : 2px;
    padding-left: 5px;
    border-bottom: solid #aaaaaa 1px;
    margin-bottom: 13%;
}
/* .optionBox{
    display: flex;
}
.option1{
    width: 50%;
} */
.register{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.loginbuttonBox{
    margin-top: 45%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_button{
    width:100%;
    background-color: white;
    border-color: #1A73E8;
    color:#1A73E8;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #1A73E8;
    border-color: #114d9c;
    color: white;
}