body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

.loadingbox{
    background-color: rgba(155, 155, 155, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #FFA500; /* Blue */
    border-left: 12px solid #FFA500; /* Blue */
    border-right: 12px solid #FFA500; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spins 2s linear infinite;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  
  @keyframes spins {
    0% { transform:translate(-50%,-50%) rotate(0deg); }
    100% { transform:translate(-50%,-50%) rotate(360deg); }
  }


.logo {
    display:flex;
    margin-bottom: 4%;
    width:100%;
    font-family: "Noto Serif KR", serif;
}
.logoText{
    position: absolute;
    width:100%;
    text-align: center;
    top:-3px;
}
span[id="helmet"]{
    font-size: 35px;
    color:#FFA500;
}
.logo span[id="text"]{
    font-size: 30px;
    color:#323232;
}
.slidemenu{
    padding-left:10px;
    padding-top: 15px;
    font-size:24px;
    color:white;
}

input[id="slidemenuicon"]{
    display:none;
}
input[id="slidemenuicon"] + label{
    display:block;
    width:30px;
    height:20px;
    position:relative;
    z-index:2;
}
input[id="slidemenuicon"] + label span{
    display:block;
    position:absolute;
    width:100%;
    height:3px;
    border-radius:30px;
    background:#323232;
    transition:all .35s;
}

input[id="slidemenuicon"] + label span:nth-child(1){
    top:0;
}
input[id="slidemenuicon"] + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="slidemenuicon"] + label span:nth-child(3){
    bottom:0;
}
input[id="slidemenuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="slidemenuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="slidemenuicon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}
input[id="slidemenuicon"]:checked + label + div{
    left:0px; /*슬라이드 버튼 눌렀을때 사이드바가 왼쪽에 나타나게*/
}
input[id="slidemenuicon"] + label + div{
    left:-200px; /*슬라이드 버튼 눌렀을때 사이드바가 왼쪽에 나타나게*/
}
.sidebar{
    width:200px;
    height:100%;
    margin-top: 34px;
    background-color:rgba(0, 0, 0, 0.85); ;
    position:fixed; /*오브젝트의 위치를 다른 오브젝트와 상관없이 그 위치에 고정*/
    left:-200px;
    z-index:1;
    transition:all .35s;
}
.sidebar ul > li{
    padding-top: 10px;
    list-style: none; 
}
.sidebar ul > li > a {
    display: block;
    color: white;
    font-size: 20px;
    padding-bottom: 40px; /*슬라이드 메뉴에서 목록들*/
}
input[id="btntext"]{
    display: none;
}
.appearlabel:checked{
    background-color: #64a0d9;
}


.block1 {
    display: block;
    width: 100%;
    height: 1px; 
    background-color: #DCDCDC; 
}
.block2 {
    display: block;
    margin-top: 3%;
    width: 100%;
    height: 1px; 
    background-color: #DCDCDC; 
}

.image_container {
    display: flex;
    position:relative;
    margin-top: 3px;
    
}
.cover {
    display: flex;
    position: absolute;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px; 
    font-weight: bold; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
}
.cover span[id="text1"] {
    font-size: 25px;
    font-weight: bold;
}
.cover span{
    padding-top: 2%;
    font-size: 22px;
    font-weight:lighter;
}

#color1{
    font-size:25px;
    font-weight: bold;
    color:green
}
#color2{
    font-size:25px;
    font-weight: bold;
    color:red
}

.mainbody {
    margin-top: 50px;
}
.selectmenu1{
    display: flex;
    justify-content: center;
}
.selectmenu1 button{
    width:90%;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    background:#f0f0f0;
    border-color: #ffffff;
    transition: background-color 0.3s;
}
.selectmenu2{
    display: flex;
    justify-content: center;
}
.selectmenu2 button{
    width:90%;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
    font-size: 30px;
    background:#f0f0f0;
    border-color: #ffffff;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #1A73E8;
    border-color: #114d9c;
    color: white;
}


.modalbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    /* 숨기기 == 다른 오브젝트보다 배치도를 낮게줌 */
    z-index: -1;
    opacity: 0;
}
.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}
.window {
    position: relative;
    width: 100%;
    height: 100%;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    padding: 5px;
    
    /* 임시 지정 */
    width: 300px;
    height: 350px;
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}
.show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.popuplogo{
    display: flex;
    text-align: center;
    width: 250px;
    height: 450px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.popuplogo span[id="app"]{
    line-height: 1.5;
    font-size: 22px;
}
.popupaction{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.popupcancel button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-color: #FF3232;
    color:#C83232;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}
button:hover {
    background-color: #FF3232;
    border-color: #C83232;
    color: white;
}
