<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/liststyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>작성 리스트</title>
    <script 
    src="https://kit.fontawesome.com/9f8bb06fc7.js" 
    crossorigin="anonymous"
></script>
</head>
<body>
    <div class="logoBox">
        <!--돌아가기 버튼-->
        <span id="back"><i class="fa-solid fa-chevron-left"></i></span>
        <span id="logotext">작성 리스트</span>
    </div>
    <span class = block1></span>
    <span class = block2></span>
    <div class="listinfo_box">
        <span id="time">작성한 시간 : </span><br>
        <!--작성한 건의사항 추가-->
        <span>흠 뭐 적을거 없나?</span>
    </div>
    <div class="Block"></div>
</body>
</html>