<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detector/detectorstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>메인 홈페이지</title>
    <script src="https://kit.fontawesome.com/9f8bb06fc7.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="topbar">
        <div class="logoBox">
            <span id="helmet"><i class="fa-solid fa-helmet-safety"></i></span>
            <span id="text">산업안전진단</span>
        </div>
        <div class="userinfoBox">
            <span id="userName">관리자 : </span>
        </div>
    </div>

    <div class="mainBox">
        <div class="sideBox">
            <div class="menuBox">
                <input type="radio" name="menu" value="1" id="menu1" checked="true" onclick="list_change()">
                <label for="menu1">요청된 건의사항</label>
            </div>
            <div class="menuBox">
                <input type="radio" name="menu" value="3" id="menu3" onclick="list_change()">
                <label for="menu3">출근명부</label>
            </div>

            <div class="buttonBox">
                <div class="workerbutton" onclick="show()">
                    <button>작업자 등록</button>
                </div>
            </div>

            <div class="image_container">
                <img src="{{url_for('static', filename='images/user/safe3.png')}}" width="100%" height="100%">
                <div class="cover">
                    <span id="text1"><span id="color2">안전</span>의 시작</span>
                    <span id="text2">그것은 <span id="color1">이해</span>와 <span id="color1">인정</span>이 아닐까요? </span>
                </div>
            </div>
        </div>
        <!--사이드 박스옆에 라디오 버튼 누르면 각 버튼에 해당하는거 뜨는 화면-->
        <div class="jqBox" id="radioscreen">
            <!-- 건의사항 div -->
            <div id="list_contents">

            </div>
            <!-- 출근명부 div -->
            <div class="dayBox" id="check_calender">
                <!--금일 출근명부 추가-->
                <div class="radio_container">

                    <div class="day_radio"><!--클릭되면?-->
                        <input type="radio" name="day" value="1" id="f_tday" checked="true" onclick="show_day()">
                        <label for="f_tday">Day</label>
                    </div>

                    <div class="day_radio"><!--클릭되면?-->
                        <input type="radio" name="day" value="2" id="f_aday" onclick="show_day()">
                        <label for="f_aday">All Day</label>
                    </div>
                    <div id="search_if">
                        <select id="year_dropdown">
                        </select>
                        <select id="month_dropdown">
                        </select>
                        <select id="id_dorpdown">
                            <option value="all">전체</option>
                        </select>
                    </div>
                </div>
                <div class="day_nemo" id="day_nemo"> <!--여기서 실행-->

                </div>
            </div>
        </div>

    </div>
    </div>

    <div class="modalbackground">
        <div class="window">
            <div class="popup">

                <div class="popuplogo">
                    <span>작업자 등록</span>
                </div>
                <div class="popuptitle">
                    <span id="job">직군</span>
                    <br><br>
                    <select id="job" placeholder="직군을 선택하세요">
                        <option value="1">작업자</option>
                        <option value="2">안전 관리자</option>
                    </select>
                </div>
                <br>
                <div class="popuptitle">
                    <select id="year" name="year"></select>
                    <span> 년생 </span>
                    <select id="month" name="month"></select>
                    <span> 월 </span>
                    <select id="day" name="day"></select>
                    <span> 일</span>
                </div>
                <br>
                <div class="popuptitle">
                    <span>이름</span>
                    <br>
                    <input id="name" placeholder="이름 입력" />
                </div>
                <div class="popuptitle">
                    <span>아이디</span>
                    <br>
                    <input id="id" placeholder="아이디 입력" />
                </div>
                <div class="popuptitle">
                    <span>패스워드</span>
                    <br>
                    <input id="pw" placeholder="패스워드 입력" />
                </div>
                <div class="popupaction">
                    <div class="popupcancel">
                        <button id="cancel" onclick="cancel()">취소</button>
                    </div>
                    <div class="popupok">
                        <button id="ok">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/detector/main.js')}}"></script>
</body>

</html>