<!--페이지식으로 안하고 관리자 메인에서 톱니바퀴 버튼으로 모달다이얼로그에서 작업자 등록할듯 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/registerstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>작업자 등록</title>
</head>
<body>
    <div class="loginBox">
        <div class="logoBox">
            <span>산업안전진단</span>
        </div>
        <div class="textBox">
            <span>작업자 등록</span>
        </div>
        <div class="logininfo">
            <span>작업자 등록 페이지입니다.</span>
        </div>
        <div class="nameBox">
            <span>이름</span>
            <br>
            <input id="nameinput" placeholder="이름 입력"/>
        </div>
        <div class="birthBox">
            <select id="year" name="year">
              </select><span> 년생 </span>
              <select id="month" name="month">
              </select> <span> 월 </span>
              <select id="day" name="day">
              </select> <span> 일</span>
        </div>
        <div class="idBox">
            <span>아이디</span>
            <br>
            <input id="idinput" placeholder="이메일 또는 아이디"/>
        </div>
        <div class="pwBox">
            <span>비밀번호</span>
            <br>
            <input id="pwinput" placeholder="비밀번호 입력"/>
        </div>
        <div class="buttonBox">
            <div class="signupbuttonBox">
                <button>취소</button>
            </div>
            <div class="loginbuttonBox">
                <button>등록</button>
            </div>
        </div>
    </div>
    <script>
        var yearDropdown = document.getElementById("year"); 
        for (var year = 2024; year >= 1950; year--) {
          var option = document.createElement("option");
          option.text = year;
          option.value = year;
          yearDropdown.add(option);
        }

        var monthDropdown = document.getElementById("month");
        for (var month = 1;  month <= 12; month++) {
          var option = document.createElement("option");
          option.text = month;
          option.value = month;
          monthDropdown.add(option);
        }

        var dayDropdown = document.getElementById("day");
        for (var day = 1;  day <= 31; day++) {
          var option = document.createElement("option");
          option.text = day;
          option.value = day;
          dayDropdown.add(option);
        }
    </script>
</body>
</html>