<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/check_safe_cloth.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>작성 리스트</title>
    <script src="https://kit.fontawesome.com/9f8bb06fc7.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <title>카메라 스트리밍</title>
</head>

<body>
    <div class="explain_modal" id="explain_modal">
        <div class="explain_window"><span style="font-weight: bold; font-size: 120%; color: rgb(46, 46, 46);">※주변에 사람 및
                안전장비를 <br> 정리해 주세요. <br>(인식이 안될 수도 있습니다.)</span></div>
    </div>

    <div class="loadingbox">
        <div class="loader"></div>
    </div>

    <div class="container">
        <div class="logo">
            <!--돌아가기 버튼-->
            <span id="back" onclick="main()"><i class="fa-solid fa-chevron-left"></i></span>
            <span id="logotext">출근 확인</span>
        </div>

        <!-- 블록 요소 -->
        <span class=block1></span>
        <span class=block2></span>

        <div class="middle">
            <!-- 비디오 엘리먼트 -->
            <canvas id="video" width="1280" height="720" style="display: none;" autoplay></canvas>
            <!-- 결과 이미지 엘리먼트 -->
            <img id="resultImage" class="result-image" alt="Result Image">
        </div>

        <!-- 하단 안내 메시지 -->
        <div class="bottom">
            <span id="bottomtext">모든 작업자의 안전을 위해<br> 장비 착용이 필수입니다.</span>
        </div>
    </div>

    <script type="text/javascript">
        var socket = io(); // Socket.IO 클라이언트 객체 생성

        // URL 파라미터 파싱
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var corporation = urlParams.get('corporation'); // 기업명
        var id = urlParams.get('id'); // 사용자 ID
        var name = urlParams.get('name'); // 사용자 이름

        var one_play = 0; // 재생 플래그
        var img = document.getElementById('resultImage'); // 결과 이미지 요소
        var one_check = 0; // 체크 횟수 카운터
        var pre_texting = ""; // 이전 텍스트
        var imageData = null;

        async function startCamera() {
            try {
                const video = document.getElementById('video'); // 비디오 요소
                stream = await navigator.mediaDevices.getUserMedia({
                    video: {
                        width: { min: 640, ideal: 1280, max: 1920 }, 
                        height: { min: 480, ideal: 720, max: 1080 },
                        facingMode: 'user'
                    }
                });
                const videoTrack = stream.getVideoTracks()[0];
                const imageCapture = new ImageCapture(videoTrack);
                const bitmap = await imageCapture.grabFrame();
                const context1 = video.getContext('2d');
                context1.drawImage(bitmap, 0, 0, video.width, video.height);
                imageData = video.toDataURL('image/jpeg', 0.8);  // 이미지 데이터를 base64로 변환
                socket.emit('process_image', { imaging: imageData, image_id: id, image_corporation: corporation });
            }
            catch (error) {
                alert("카메라가 없습니다.")
            }
        }

        // 메인 페이지로 이동하는 함수
        function main() {
            var queryString = '?corporation=' + encodeURIComponent(corporation) + '&id=' + encodeURIComponent(id) + '&name=' + encodeURIComponent(name);
            location.href = '/user/main' + queryString;
        }
        // Socket.IO 연결 이벤트 리스너
        socket.on('connect', function () {
            console.log('소켓 연결 성공!');
            setInterval(startCamera, 700);
            // 나머지 코드는 그대로 유지
            setTimeout(() => {
                $('.loadingbox').fadeOut(); // 로딩 박스 숨기기
                if (one_play == 0) {
                    one_play += 1;
                    document.getElementById('explain_modal').style.display = 'block'; // 설명 모달 띄우기
                }
            }, 400);

            setTimeout(() => {
                $('.explain_modal').fadeOut(); // 설명 모달 숨기기
            }, 3000);
        });

        // Socket.IO에서 받은 비디오 프레임 이벤트 리스너
        socket.on('video_frame', function (data) {
            const { result_image, result_check, facecheck } = data; // 데이터에서 결과 이미지 및 체크 결과 추출
            img.src = 'data:image/jpeg;base64,' + result_image; // 결과 이미지 업데이트

            if (result_check == true && facecheck == true) {
                send_today(); // 출석 확인 함수 호출
            }
        });

        // 오늘 출석 확인을 서버에 요청하는 함수
        function send_today() {
            var xhr = new XMLHttpRequest(); // XMLHttpRequest 객체 생성
            xhr.open("POST", "/check_today", true); // POST 방식으로 '/check_today' 경로에 요청
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); // 요청 헤더 설정

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    if (one_check == 0) {
                        var responseData = JSON.parse(xhr.responseText); // 응답 데이터 파싱
                        var dingdong = responseData.result_content; // 결과 메시지 가져오기
                        const text = document.getElementById('bottomtext');
                        text.innerHTML = '출석 완료 <br> 안전한 하루 되십시오';
                        alert(dingdong) // 결과 메시지 알림
                        main(); // 메인 페이지로 이동
                    }
                    if (one_check > 2) {
                        one_check = 0;
                    }
                    one_check += 1
                }
            };

            xhr.send(JSON.stringify({ 'corporation': corporation, 'id': id, 'check': 'O' })); // 요청 데이터 전송
        }
    </script>
</body>

</html>