<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/check_safe_cloth.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>작성 리스트</title>
    <script src="https://kit.fontawesome.com/9f8bb06fc7.js" crossorigin="anonymous"></script>
    <title>Camera Streaming</title>
</head>

<body>
    <div class="explain_modal" id="explain_modal">
        <div class="explain_window" ><span style="font-weight: bold; font-size: 120%; color: rgb(46, 46, 46);">※주변에 사람 및 안전장비를 <br> 정리해 주세요. <br>(인식이 안될 수도 있습니다.)</span></div>
    </div>

    <div class="loadingbox">
        <div class="loader"></div>
    </div>
    
    <div class="container">
        <div class="logo">
            <!--돌아가기 버튼-->
            <span id="back" onclick="main()"><i class="fa-solid fa-chevron-left"></i></span>
            <span id="logotext">출근 확인</span>
        </div>

        <span class=block1></span>
        <span class=block2></span>

        <div class="middle">
            <canvas id="video" class="camera" autoplay playsinline></canvas>
            <canvas id="canvas" style="display:none;" class="camera"></canvas>
            <img id="resultImage" class="result-image" src="" alt="Result Image">
            <div id="boundingBox" class="bounding-box" style="display: none;">
            </div>
        </div>


        <div class="bottom" >
            <span id="bottomtext">모든 작업자의 안전을 위해<br> 장비 착용이 필수입니다.</span>
        </div>
        

    </div>
    <script src="{{url_for('static', filename='js/user/check_safe_cloth.js')}}"></script>
</body>

</html>