<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/recordstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>출근 기록</title>
    <script src="https://kit.fontawesome.com/9f8bb06fc7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="loadingbox">
        <div class="loader"></div>
    </div>

    <div class="main_screen" id="main_screen">
        <div class="logo">
            <!--돌아가기 버튼-->
            <span id="back" onclick="main()"><i class="fa-solid fa-chevron-left"></i></span>
            <span id="logotext">출근 기록</span>
        </div>
        <div class="ee">
            <span class=block1></span>
            <span class=block2></span>
            <div class ="date_select">
                <select id="year_drop_down" >
                </select>
                <select id="month_drop_down">
                </select>
                <input type="button" value="출력" onclick="find_checked_date()">
            </div>
            <div id="date_show"></div>
        </div>

    <script src="{{url_for('static', filename='js/user/record.js')}}"></script>
</body>

</html>