<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/recordstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>출근 기록</title>
    <script src="https://kit.fontawesome.com/9f8bb06fc7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="loadingbox">
        <div class="loader"></div>
    </div>
    
    <div class="logo">
        <!--돌아가기 버튼-->
        <span id="back" onclick="main()"><i class="fa-solid fa-chevron-left"></i></span>
        <span id="logotext">출근 기록</span>
    </div>
    <span class=block1></span>
    <span class=block2></span>

    <div class="monthBox">
        <select id="workmonth" name="workmonth"></select>
    </div>

    <div class="calendar" id="calendar">
        <div class="calendar_day" id="1">1<span class="cal_check" id="c_c1">O</span></div>
        <div class="calendar_day" id="2">2<span class="cal_check" id="c_c2">X</span></div>
        <div class="calendar_day" id="3">3</div>
        <div class="calendar_day" id="4">4</div>
        <div class="calendar_day" id="5">5</div>
        <div class="calendar_day" id="6">6</div>
        <div class="calendar_day" id="7">7</div>
        <div class="calendar_day" id="8">8</div>
        <div class="calendar_day" id="9">9</div>
        <div class="calendar_day" id="10">10</div>
        <div class="calendar_day" id="11">11</div>
        <div class="calendar_day" id="12">12</div>
        <div class="calendar_day" id="13">13</div>
        <div class="calendar_day" id="14">14</div>
        <div class="calendar_day" id="15">15</div>
        <div class="calendar_day" id="16">16</div>
        <div class="calendar_day" id="17">17</div>
        <div class="calendar_day" id="18">18</div>
        <div class="calendar_day" id="19">19</div>
        <div class="calendar_day" id="20">20</div>
        <div class="calendar_day" id="21">21</div>
        <div class="calendar_day" id="22">22</div>
        <div class="calendar_day" id="23">23</div>
        <div class="calendar_day" id="24">24</div>
        <div class="calendar_day" id="25">25</div>
        <div class="calendar_day" id="26">26</div>
        <div class="calendar_day" id="27">27</div>
        <div class="calendar_day" id="28">28</div>
        <div class="calendar_day" id="29">29</div>
        <div class="calendar_day" id="30">30</div>
        <div class="calendar_day" id="31">31</div>
    </div>

    <script src="{{url_for('static', filename='js/user/record.js')}}"></script>
</body>

</html>